<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Welcome to the patient dashboard</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil a, corrupti perspiciatis ex qui quasi labore reiciendis unde, distinctio quibusdam quisquam at consectetur soluta assumenda! Impedit qui ipsam ullam numquam? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero illo expedita quia ipsa consequatur excepturi, explicabo nostrum inventore soluta officiis dolore quae incidunt, error similique dolores deserunt harum praesentium numquam? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore aliquam excepturi ipsam cum, commodi explicabo tempora totam! Voluptate sed, aperiam consequuntur ullam voluptas corporis fugiat pariatur. Ab dolores nisi perspiciatis.</p>
    </div>
</body>
</html>