
{% include "partials/header.html" %}

 <!-- ================= MAIN ================= -->
    <section id="portfolio" class="bg-white py-20">

            <div class="max-w-screen-xl mx-auto px-6">

                <!-- Section Heading -->
                <div class="text-center mb-12">

                    <p class="text-sky-500 font-semibold uppercase tracking-wider">
                        OUR DOCTORS
                    </p>

                    <h2 class="text-4xl md:text-5xl font-bold text-slate-900 mt-2">
                        Meet The Team
                    </h2>

                    <p class="text-slate-600 mt-4 max-w-2xl mx-auto">
                        A selection of Specialties that showcase our doctors work
                        to help, care and take care of you.
                    </p>

                </div>


                <!-- Portfolio Grid -->
                <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8">


                    <!-- Project 1 -  -->
                    <article class="bg-slate-50 rounded-2xl overflow-hidden
                                    border border-slate-200
                                    hover:shadow-xl transition duration-300">

                        <!-- Project Image -->
                        <div class="h-56 bg-slate-200 overflow-hidden">

                            <img
                                src="../static/images/doctor1.jpg"
                                alt="Nova Travels website"
                                class="w-full h-full object-cover"
                            >

                        </div>


                        <!-- Project Information -->
                        <div class="p-6">

                            <span class="text-sky-500 text-sm font-semibold">
                                
                            </span>

                            <h3 class="text-2xl font-bold text-slate-900 mt-2">
                               
                            </h3>

                            <p class="text-slate-600 mt-3 leading-6">
                                
                            </p>

                            <div class="flex flex-wrap gap-2 mt-5">

                                <span class="bg-slate-200 text-slate-700
                                            text-sm px-3 py-1 rounded-full">
                                    <!--  -->
                                </span>

                                <span class="bg-slate-200 text-slate-700
                                            text-sm px-3 py-1 rounded-full">
                                    <!--  -->
                                </span>

                                <span class="bg-slate-200 text-slate-700
                                            text-sm px-3 py-1 rounded-full">
                                    <!--  -->
                                </span>

                            </div>

                            <a
                                href="#"
                                class="inline-block mt-6 text-sky-500
                                    font-semibold hover:text-sky-600">
                                View Profile →
                            </a>

                        </div>

                    </article>


                    <!-- Project 2 - Tailwind Layout -->
                    <article class="bg-slate-50 rounded-2xl overflow-hidden
                                    border border-slate-200
                                    hover:shadow-xl transition duration-300">

                        <!-- Project Image -->
                        <div class="h-56 bg-slate-900 flex items-center justify-center">
                            <img
                                src="../static/images/doctor2.jpg"
                                alt=""
                                class="w-full h-full object-cover"
                            >
                        </div>


                        <!-- Project Information -->
                        <div class="p-6">

                            <span class="text-sky-500 text-sm font-semibold">
                                <!--  -->
                            </span>

                            <h3 class="text-2xl font-bold text-slate-900 mt-2">
                                <!--  -->
                            </h3>

                            <p class="text-slate-600 mt-3 leading-6">
                                <!--  -->
                            </p>

                            <div class="flex flex-wrap gap-2 mt-5">

                                <span class="bg-slate-200 text-slate-700
                                            text-sm px-3 py-1 rounded-full">
                                    <!--  -->
                                </span>

                                <span class="bg-slate-200 text-slate-700
                                            text-sm px-3 py-1 rounded-full">
                                    <!--  -->
                                </span>

                            </div>

                            <a
                                href="#"
                                class="inline-block mt-6 text-sky-500
                                    font-semibold hover:text-sky-600">
                                View Profile →
                            </a>

                        </div>

                    </article>

                    <article class="bg-slate-50 rounded-2xl overflow-hidden
                                    border border-slate-200
                                    hover:shadow-xl transition duration-300">

                        <!-- Project Image -->
                        <div class="h-56 bg-slate-900 flex items-center justify-center">
                            <img
                                src="../static/images/doctor3.png"
                                alt=""
                                class="w-full h-full object-cover"
                            >
                        </div>


                        <!-- Project Information -->
                        <div class="p-6">

                            <span class="text-sky-500 text-sm font-semibold">
                                <!--  -->
                            </span>

                            <h3 class="text-2xl font-bold text-slate-900 mt-2">
                                <!--  -->
                            </h3>

                            <p class="text-slate-600 mt-3 leading-6">
                                <!--  -->
                            </p>

                            <div class="flex flex-wrap gap-2 mt-5">

                                <span class="bg-slate-200 text-slate-700
                                            text-sm px-3 py-1 rounded-full">
                                    <!--  -->
                                </span>

                                <span class="bg-slate-200 text-slate-700
                                            text-sm px-3 py-1 rounded-full">
                                    <!--  -->
                                </span>

                            </div>

                            <a
                                href="#"
                                class="inline-block mt-6 text-sky-500
                                    font-semibold hover:text-sky-600">
                                View Profile →
                            </a>

                        </div>

                    </article>

                    <article class="bg-slate-50 rounded-2xl overflow-hidden
                                    border border-slate-200
                                    hover:shadow-xl transition duration-300">

                        <!-- Project Image -->
                        <div class="h-56 bg-slate-900 flex items-center justify-center">
                            <img
                                src="../static/images/doctor4.jpg"
                                alt=""
                                class="w-full h-full object-cover"
                            >
                        </div>


                        <!-- Project Information -->
                        <div class="p-6">

                            <span class="text-sky-500 text-sm font-semibold">
                                <!--  -->
                            </span>

                            <h3 class="text-2xl font-bold text-slate-900 mt-2">
                                <!--  -->
                            </h3>

                            <p class="text-slate-600 mt-3 leading-6">
                                <!--  -->
                            </p>

                            <div class="flex flex-wrap gap-2 mt-5">

                                <span class="bg-slate-200 text-slate-700
                                            text-sm px-3 py-1 rounded-full">
                                    <!--  -->
                                </span>

                                <span class="bg-slate-200 text-slate-700
                                            text-sm px-3 py-1 rounded-full">
                                    <!--  -->
                                </span>

                            </div>

                            <a
                                href="#"
                                class="inline-block mt-6 text-sky-500
                                    font-semibold hover:text-sky-600">
                                View Profile →
                            </a>

                        </div>

                    </article>

                    <article class="bg-slate-50 rounded-2xl overflow-hidden
                                    border border-slate-200
                                    hover:shadow-xl transition duration-300">

                        <!-- Project Image -->
                        <div class="h-56 bg-slate-900 flex items-center justify-center">
                            <img
                                src="../static/images/doctor5.jpeg"
                                alt=""
                                class="w-full h-full object-cover"
                            >
                        </div>


                        <!-- Project Information -->
                        <div class="p-6">

                            <span class="text-sky-500 text-sm font-semibold">
                                <!--  -->
                            </span>

                            <h3 class="text-2xl font-bold text-slate-900 mt-2">
                                <!--  -->
                            </h3>

                            <p class="text-slate-600 mt-3 leading-6">
                                <!--  -->
                            </p>

                            <div class="flex flex-wrap gap-2 mt-5">

                                <span class="bg-slate-200 text-slate-700
                                            text-sm px-3 py-1 rounded-full">
                                    <!--  -->
                                </span>

                                <span class="bg-slate-200 text-slate-700
                                            text-sm px-3 py-1 rounded-full">
                                    <!--  -->
                                </span>

                            </div>

                            <a
                                href="#"
                                class="inline-block mt-6 text-sky-500
                                    font-semibold hover:text-sky-600">
                                View Profile →
                            </a>

                        </div>

                    </article>

                    <article class="bg-slate-50 rounded-2xl overflow-hidden
                                    border border-slate-200
                                    hover:shadow-xl transition duration-300">

                        <!-- Project Image -->
                        <div class="h-56 bg-slate-900 flex items-center justify-center">
                            <img
                                src="../static/images/doctor6.jpg"
                                alt=""
                                class="w-full h-full object-cover"
                            >
                        </div>


                        <!-- Project Information -->
                        <div class="p-6">

                            <span class="text-sky-500 text-sm font-semibold">
                                <!--  -->
                            </span>

                            <h3 class="text-2xl font-bold text-slate-900 mt-2">
                                <!--  -->
                            </h3>

                            <p class="text-slate-600 mt-3 leading-6">
                                <!--  -->
                            </p>

                            <div class="flex flex-wrap gap-2 mt-5">

                                <span class="bg-slate-200 text-slate-700
                                            text-sm px-3 py-1 rounded-full">
                                    <!--  -->
                                </span>

                                <span class="bg-slate-200 text-slate-700
                                            text-sm px-3 py-1 rounded-full">
                                    <!--  -->
                                </span>

                            </div>

                            <a
                                href="#"
                                class="inline-block mt-6 text-sky-500
                                    font-semibold hover:text-sky-600">
                                View Profile →
                            </a>

                        </div>

                    </article>


                    

                </div>

            </div>

    </section>

<!-- {% include "partials/footer.html" %} -->